button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}
.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  vertical-align: baseline;
  color: darkred;
}

.habit-reset {
  color: white;
  background-color: green;
  font-size: 1.5rem;
  margin: 0 0.5em;
  padding: 0.3em 1em;
}

.habit-input {
  margin: 0.2em;
  font-size: 2rem;
}

.habit-add {
  color: white;
  background-color: green;
  font-size: 1.5rem;
  padding: 0.3em;
}

.habit-header {
  background-color: rgb(255, 242, 198);
  font-size: 2.2rem;
  padding: 0.6em;
  margin-bottom: 0.6em;
  text-align: center;
}
.habit-logo {
  color: green;
}

.habit-total-count {
  color: white;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
  width: 2.5rem;
}

.habit-title {
  padding: 0 0.3em;
}
