body {
  margin: 0;
  background-color: black;
}

.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  height: 2px;
  width: 100%;
}

.vertical {
  height: 100%;
  width: 2px;
}

.target {
  position: absolute;
}

.tag {
  color: white;
  position: absolute;
  font-size: 40px;
}
