body {
  width: 400px;
  height: 580px;
}

header {
  background-color: blueviolet;
  color: white;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
section {
  width: 400px;
  height: 400px;
  background-color: #e8e6e6;
}

footer {
  background-color: blueviolet;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 50px;
}

#itemList {
  height: 365px;
  margin: 0px;
  list-style-type: none;
  padding: 5px 30px;
}

#inputItem {
  width: 100%;
  border: none;
  padding: 0px;
  height: 25px;
  outline: none;
}

.liItem span {
  float: right;
}

footer #addBtn {
  margin: 0px;
  border: none;
  padding: 0px;
}
