body {
    color : #5aafab;
    background-color: #e6f3d0;
}

.clock h1{
    color :#505af1;

}

.form, .greeting{
    display: none;
}

.showing {
    display: block;
}

.toDoList{
    color : #2d5553;
}

